header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* background-image: url("./assets/bg.png"); */
  height: 80px;
  padding: 0 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav li:first-child {
  margin-left: auto;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #007bff;
  text-decoration: underline;
}

.App-logo {
  height: 50px;
  margin-right: 1rem;
}

.iconBtn {
  display: flex;
}

.iconBtn > *:first-child {
  margin-right: 25px;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding: 10px;
}

.dropdown-menu li {
  list-style: none;
  margin-bottom: 5px;
}

.dropdown-menu a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.2s ease-in-out;
}

.dropdown-menu a:hover {
  color: #007bff;
  text-decoration: underline;
}

#slider {
  margin: 40px;
}

#slider .carousel-item img {
  max-height: 80vh;
  object-fit: contain;
}

.carousel-indicators li {
  background-color: #ccc; /* Inactive indicator color */
  width: 12px;
  height: 12px;
  margin: 3px;
  background-color: #ccc;
  border-color: #ccc;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: #f00; /* Active indicator color */
}
/* .carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  left: 0;
  padding: 0 200px;
} */
.carousel-caption button {
  padding: 8px;
  border-radius: 25px;
  background-color: #fb7f21;
  font-weight:700;
  border: none;
  color: #fff;
  cursor: pointer;
}
.carousel-caption button:hover {
  background-color: #fff;
  border: 1px solid;
  color: #fb7f21;
  cursor: pointer;
}
.carousel-caption h1 {
  color: #e6753d;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: orange;
}

#page-header {
  background-image: url("./assets/kandy-perahara_Banner.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
  margin-bottom: 20px;
}
#page-header h2 {
  color: #cce624;
  text-shadow: 2px 2px 4px #000000;
  font-style: italic;
  font-weight: 700;
}

.sideMenu {
  position: fixed;
  background-color: #021410;
  max-width: 300px;
  width: 100%;
  height: 100%;
}

.sideMenu .items {
  padding: 40px 0;
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.sideMenu .items .li:hover {
  background-color:white;
  padding: 4px;
  border-radius: 5px;
}

.main-wrap {
  margin-left: 300px;
  position: relative;
}
.content-main {
  padding: 30px 3%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin: 20px;

}

.icontext {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
         
}

.icontext .icon {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 15px;
}

.icontext .icon.border {
  max-height: 28px;
}

.icontext small, .icontext .title {
  display: block;
}

.icontext span {
  font-size: 22px;
  font-weight: 600;
  display: block;
  
}

.icontext span.text-sm {
  font-size: 12px;
  font-weight: 400;
  color: #6c757d;
}
/* product display */
.product {
  position: relative;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #ad5100;
  border-radius: 5px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}
.product:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.product .thumb {
  position: relative;
  overflow: hidden;
}
.product .thumb .image {
  position: relative;
  display: block;
  overflow: hidden;
}
.product .thumb .image img {
  height: 250px;
  max-width: 100%;
}
.product .content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  background-color: #f7f8fa;
  padding: 0 0 40px;
}
.product .content .ratings {
  display: flex;
  align-items: flex-start;
  margin-bottom: 4px;
}
.product .content .ratings .rating-wrap {
  font-size: 14px;
  line-height: 1;
  position: relative;
  color: #e4e4e4;
  white-space: nowrap;
}
.product .content .ratings .rating-num {
  font-size: 14px;
  line-height: 1;
  margin-left: 6px;
  color: #9f9e9e;
  display: none;
}
.product .content .title {
  font-size: 16px;
  margin: 10px 0 15px;
  font-family: Rubik,sans-serif;
}
.product .content .price {
  font-size: 16px;
  font-family: Rubik,sans-serif;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 10px;
}
.product .content .price span.new {
  color: #393939;
  font-weight: 500;
}
.product .add-to-cart {
  display: block;
  width: 130px;
  height: 40px;
  line-height: 40px;
  background: #eaaa85;
  text-align: center;
  border: 0;
  border-radius: 10px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  margin: auto;
  font-weight: 400;
  color: #fff;
  font-family: Rubik,sans-serif;
  text-transform: uppercase;
}